<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>NPSK</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<div class="container">
  <style type="text/css">
    body {
      padding-top: 100px;
      background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/13/Tunnel_View%2C_Yosemite_Valley%2C_Yosemite_NP_-_Diliff.jpg");
      background-size: cover;
    }</style>

  <body>
  {% include 'includes/_navbar.html' %}

  <div class="jumbotron text-center">
    <h1>About the Site</h1>
    <style>
      .about-msg {
        padding-top: 20px;
      }
    </style>
    <p class="lead about-msg">This site was created for the
      <a href="https://campus.capitalone.com/summits/">Capital One Summit </a>
      Coding Challenge in May, 2019, by
      <a href="https://www.linkedin.com/in/hannah-huh/">Hannah Huh</a>.
      Credits to the
      <a href="https://www.nps.gov/subjects/developer/api-documentation.htm">
        National Park Service API</a>,
      which provides all necessary information presented on this website. Hannah
      is a student at Princeton University majoring in Computer Science and a
      rising sophomore.</p>
  </div>
  </body>
</html>
